@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 64px;
  text-align: center;
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
  letter-spacing: 2px;
  padding: 10px;
}

th {
  letter-spacing: 2px;
  padding: 10px;
  
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td {
  max-width: 30%;
  overflow: auto;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

td img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

/* Zebra stripe */
tbody tr:nth-child(odd) {
  background-color: #fff0c7;
}
/* Column Size for thead */
/* Column size for tbody */
